body {
background:
  radial-gradient(ellipse at 20% 20%, #0d0011 0%, transparent 70%),
  radial-gradient(ellipse at 60% 20%, #32016a 0%, transparent 70%),
  radial-gradient(ellipse at 100% 20%, #2e011f 0%, transparent 70%),
  radial-gradient(ellipse at 100% 100%, #270037 0%, transparent 70%),
  radial-gradient(ellipse at 20% 100%, #0b0505 0%, transparent 70%);
  min-height: 97.5vh;

  
  font-style: oblique;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
